<% if signed_in? %>

  <h1 class="micropost">What's up?</h1>
  <%= render 'shared/micropost_form' %>

	<table class="front" summary="For signed-in users">
		<tr>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
			</td>
			
			<td class="main">
				<%= render :partial => 'shared/feed_item', :collection => @feed_items  %>
				<%#= render 'shared/feed_item' %>
			</td>

		</tr>
	</table>
<% else %>
	<h1>Sample App</h1>

	<p>
		This is the home page for rails tutorial sample app
	</p>
	<%= link_to "Sign up now", signup_path, :class => "signup_button round" %>
<% end %>